body{
color: black;
background-color: rgb(255, 240, 240);
font-family: 'Arial';
}

h1{
    color: blue;
}
h2{
    color: rgb(255, 127, 195);
}
a{
    color: rgb(226, 43, 43);
}
p2{
    color: cadetblue;
}
p1{
    color: black;
}
p3{
    color: darkblue;
}
